:root{
   --color:rgb(250, 234, 214);
   --border-radius: 5px;
   --background-color: rgba(250,234,214,0.7);
}
body{
    font-family: "poppins";
    background-color: rgb(8, 6, 20);
    color:var(--color)
}


.container{
    max-width: 1300px;
    margin: 0 auto;     
}
.img-responsive{
    max-height: 80%;
}
.grid{
    display: grid;
    grid-gap: 60px;
    
}
.grid-2-columns{
    grid-template-columns: 2fr 2fr;
}
.grid-3-column{
    grid-template-columns: 1fr 2fr 2fr;
    

}
.cards{
    text-align: center;
}


section{
    max-width: 1200px;
    margin: 0 auto;
    padding:100px 0;
}

header {
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/header.jpg") ;  
  padding: 200px 0;  
  text-align: center;
  background-size: cover;  
  background-repeat: no-repeat;
  color: var(--color);
  border-radius:var(--border-radius);
  aspect-ratio: 16/9; 
}

header h1 {  
  font-size: 80px; 
  font-weight: 300;
  line-height: 1.5; 
}

header h2{
  font-size: 60px; 
  font-weight: 300;
  line-height: 1.5; 
  padding: 10px;
}
header h3{
  font-size: 26px; 
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 3px;

}
header a{
    font-weight: 700;
    font-size: 14px;
    line-height: 1,5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color:var(--background-color);
    text-decoration: none;
    padding: 10px;
    border-radius:var(--border-radius);
    border: 1px solid;
}

main

footer{
    color:var(--color);
    background-image: linear-gradient(rgba(39, 32, 68, 0.9),rgba(0, 0, 0, 0.7)), url("../images/footer.jpg");     
    background-size: cover;  
    background-repeat: no-repeat;
    color: var(--color);       
    padding: 100px 0;
}
footer h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;  
}
footer p{
    font-weight: 300;
    font-size: 14px;
    opacity:0.9;
    line-height: 24px;
    

}
footer ul{
    padding: 0;

}
footer li{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer a{
    color:var(--color);
    font-weight: 300;
    font-size: 14px;
    opacity:0.9;
    line-height: 24px;

    
}
footer a:hover{
    color:rgb(178, 66, 243);
}
@media (max-width:960px){
    header{
        padding: 40px 0;
    }
    header h1{
        font-size: 40px;
    }
    header h2{
        font-size: 30px;
    }
    header h3{
        font-size: 12px;
    }
    header a{
        padding:3px;
        font-size: 10px;
      
    }
    .grid{
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    section{
        padding:30px;}
    }
}