:root{
   --color:antiquewhite;
   --border-radius: 5px;
}
body{
    font-family: "poppins";
    background-color: rgb(8, 6, 20);
    color:antiquewhite
}


.container{
    max-width: 1300px;
    margin: 0 auto;     
}



header {
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/header.jpg") ;  
  padding: 130px;  
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color);
  border-radius:var(--border-radius);
  aspect-ratio: 16/9; 
}

header h1 {  
  font-size: 50px; 
  font-weight: 200;
  line-height: 1.5; 
}

header h2{
  font-size: 40px; 
  font-weight: 200;
  line-height: 1.5; 
  padding: 10px;
}
header h3{
  font-size: 24px; 
  font-weight: 300;
  line-height: 1.5; 
  letter-spacing: 3px;

}
header a{
    font-weight: 700;
    font-size: 14px;
    line-height: 1,5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color:var(--color);
    text-decoration: none;
    padding: 10px;
    border-radius:var(--border-radius);
    border: 1px solid;
}
@media (max-width:900px){
    header{
        padding: 40px 0;
    }
    header h1{
        font-size: 25px;
    }
    header h2{
        font-size: 20px;
    }
    header h3{
        font-size: 12px;
    }
}